div.flag{
            align-items: center;
            display: flex;
            justify-content: center;
            height: 200px;
            margin: 1rem auto;
            width: 280px;
            &.japan{
                background: radial-gradient(circle, #BC002D 34%, #BC002D 34%, white 50%);
                
                
            }
        }